Repository luna/enso, pull requests merged in 2019-07, with the labels that each got.

#13 Functions, variables, tail calls
  .gitignore
  build.sbt
  interpreter/src/bench/java/org/enso/interpreter/.gitkeep
  interpreter/src/bench/scala/EnsoBench.scala
  interpreter/src/bench/scala/org/enso/interpreter/Main.scala
  interpreter/src/main/java/org/enso/interpreter/Constants.java
  interpreter/src/main/java/org/enso/interpreter/Language.java
  interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  interpreter/src/main/java/org/enso/interpreter/builder/FileDetector.java
  interpreter/src/main/java/org/enso/interpreter/builder/FramePointer.java
  interpreter/src/main/java/org/enso/interpreter/builder/LocalScope.java
  interpreter/src/main/java/org/enso/interpreter/builder/VariableDoesNotExistException.java
  interpreter/src/main/java/org/enso/interpreter/builder/VariableRedefinitionException.java
  interpreter/src/main/java/org/enso/interpreter/node/EnsoRootNode.java
  interpreter/src/main/java/org/enso/interpreter/node/ExpressionNode.java
  interpreter/src/main/java/org/enso/interpreter/node/StatementNode.java
  interpreter/src/main/java/org/enso/interpreter/node/controlflow/IfZeroNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/PrintNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/literal/IntegerLiteralNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/literal/LiteralNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/operator/AddOperatorNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/operator/BinaryOperatorNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/operator/DivideOperatorNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/operator/ModOperatorNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/operator/MultiplyOperatorNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/operator/SubtractOperatorNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/CallNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/CreateFunctionNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/DispatchNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/FunctionBodyNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/InvokeNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/LoopingDispatchNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/ReadArgumentNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/SimpleDispatchNode.java
  interpreter/src/main/java/org/enso/interpreter/node/local/AssignmentNode.java
  interpreter/src/main/java/org/enso/interpreter/node/local/ReadLocalVariableNode.java
  interpreter/src/main/java/org/enso/interpreter/nodes/ExpressionNode.java
  interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  interpreter/src/main/java/org/enso/interpreter/runtime/Function.java
  interpreter/src/main/java/org/enso/interpreter/runtime/TailCallException.java
  interpreter/src/main/java/org/enso/interpreter/runtime/TypeError.java
  interpreter/src/main/java/org/enso/interpreter/runtime/Types.java
  interpreter/src/main/scala/org/enso/interpreter/Main.scala
  interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  interpreter/src/test/java/org/enso/interpreter/.gitkeep
  interpreter/src/test/scala/org/enso/interpreter/FunctionArgumentsTest.scala
  interpreter/src/test/scala/org/enso/interpreter/LanguageTest.scala
  interpreter/src/test/scala/org/enso/interpreter/LexicalScopeTest.scala
  interpreter/src/test/scala/org/enso/interpreter/Main.scala
  interpreter/src/test/scala/org/enso/interpreter/SimpleArithmeticTest.scala
Labels: Category: Interpreter, Category: Runtime, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#16 Introduce a concept of global scope to the interpreter
  .gitignore
  azure-pipelines.yml
  build.sbt
  interpreter/src/bench/scala/EnsoBench.scala
  interpreter/src/main/java/org/enso/interpreter/Language.java
  interpreter/src/main/java/org/enso/interpreter/Main.java
  interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  interpreter/src/main/java/org/enso/interpreter/builder/FileDetector.java
  interpreter/src/main/java/org/enso/interpreter/builder/FramePointer.java
  interpreter/src/main/java/org/enso/interpreter/builder/GlobalScope.java
  interpreter/src/main/java/org/enso/interpreter/builder/GlobalScopeExpressionFactory.java
  interpreter/src/main/java/org/enso/interpreter/builder/LocalScope.java
  interpreter/src/main/java/org/enso/interpreter/builder/VariableDoesNotExistException.java
  interpreter/src/main/java/org/enso/interpreter/builder/VariableRedefinitionException.java
  interpreter/src/main/java/org/enso/interpreter/node/EnsoRootNode.java
  interpreter/src/main/java/org/enso/interpreter/node/ExpressionNode.java
  interpreter/src/main/java/org/enso/interpreter/node/StatementNode.java
  interpreter/src/main/java/org/enso/interpreter/node/controlflow/AssignmentNode.java
  interpreter/src/main/java/org/enso/interpreter/node/controlflow/IfZeroNode.java
  interpreter/src/main/java/org/enso/interpreter/node/data/.gitkeep
  interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/PrintNode.java
  interpreter/src/main/java/org/enso/interpreter/node/expression/literal/IntegerLiteralNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/CreateFunctionNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/DispatchNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/FunctionBodyNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/InvokeNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/LoopingDispatchNode.java
  interpreter/src/main/java/org/enso/interpreter/node/function/SimpleDispatchNode.java
  interpreter/src/main/java/org/enso/interpreter/node/scope/ReadGlobalTargetNode.java
  interpreter/src/main/java/org/enso/interpreter/node/scope/ReadLocalTargetNode.java
  interpreter/src/main/java/org/enso/interpreter/nodes/ExpressionNode.java
  interpreter/src/main/java/org/enso/interpreter/optimiser/TailCallException.java
  interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  interpreter/src/main/java/org/enso/interpreter/runtime/GlobalCallTarget.java
  interpreter/src/main/java/org/enso/interpreter/runtime/Types.java
  interpreter/src/main/java/org/enso/interpreter/runtime/Unit.java
  interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  interpreter/src/test/scala/org/enso/interpreter/GlobalScopeTest.scala
  interpreter/src/test/scala/org/enso/interpreter/LexicalScopeTest.scala
Labels: Category: Interpreter, Category: Runtime, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Discussion

#43 Parser Efficiency Improvements and Buffer Fix.
  build.sbt
  lib/flexer/src/main/scala/org/enso/flexer/CodeGen.scala
  lib/flexer/src/main/scala/org/enso/flexer/Group.scala
  lib/flexer/src/main/scala/org/enso/flexer/NFA.scala
  lib/flexer/src/main/scala/org/enso/flexer/ParserBase.scala
  lib/flexer/src/main/scala/org/enso/flexer/Pattern.scala
  lib/flexer/src/main/scala/org/enso/flexer/Utils.scala
  lib/flexer/src/main/scala/org/enso/flexer/Vocabulary.scala
  syntax/parser/src/main/scala/org/enso/parser/Parser.scala
  syntax/runner/src/bench/scala/org/enso/syntax/Parser.scala
  syntax/runner/src/bench/scala/org/enso/syntax/text/Lexer.scala
  syntax/runner/src/test/scala/org/enso/syntax/Parser.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#49 Update Doc Comment Guidelines
  .github/PULL_REQUEST_TEMPLATE.md
  doc/haskell-style-guide.md
  doc/java-style-guide.md
  doc/scala-style-guide.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#51 Document Unbounded Recursion Routes on GraalVM
  doc/.DS_Store
  doc/design/.DS_Store
  doc/design/runtime/unbounded-recursion.md
  doc/design/type-system/.DS_Store
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement

#46 File Manager
  FileManager/src/main/scala/org/enso/FileManager.scala
  FileManager/src/main/scala/org/enso/filemanager/API.scala
  FileManager/src/test/scala/org/enso/filemanager/BehaviorTests.scala
  FileManager/src/test/scala/org/enso/filemanager/Helpers.scala
  FileManager/src/test/scala/org/enso/filemanager/WatchTests.scala
  build.sbt
  project/plugins.sbt
Labels: Category: Tooling, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement
