Repository luna/enso, pull requests merged in 2019-11, with the labels that each got.

#268 Set "-encoding UTF-8" for javac.
  build.sbt
Labels: Category: External, Change: Non-Breaking, Difficulty: Beginner, Priority: Medium, Type: Enhancement

#271 Fat Jar distribution
  .gitignore
  CONTRIBUTING.md
  build.sbt
  project/plugins.sbt
Labels: Category: External, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#270 State monad
  Interpreter/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/RecursionBenchmarks.java
  Interpreter/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  Interpreter/src/main/java/org/enso/interpreter/builder/ArgDefinitionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/BaseNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/EnsoRootNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/ApplicationNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/ExecuteCallNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/ForceNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/ThunkExecutorNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/ThunkNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/dispatch/CallOptimiserNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/dispatch/LoopingCallOptimiserNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/dispatch/SimpleCallOptimiserNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/controlflow/BranchSelectedException.java
  Interpreter/src/main/java/org/enso/interpreter/node/controlflow/ConstructorCaseNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/controlflow/DefaultFallbackNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/controlflow/FallbackNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/controlflow/MatchNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchErrorNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchPanicNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/error/PanicNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/error/ThrowErrorNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/state/GetStateNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/state/PutStateNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/state/RunStateNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/scope/AssignmentNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Builtins.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/control/TailCallException.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/state/Stateful.java
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/FunctionArgumentsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/StateTest.scala
  project/WithDebugCommand.scala
Labels: Category: Interpreter, Category: Libraries, Category: Semantics, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#303 Reorganise the Interpreter Root
  .gitignore
  .scalafmt.conf
  Interpreter/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  Interpreter/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/NamedDefaultedArgumentFixtures.scala
  Interpreter/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  Interpreter/src/main/java/org/enso/interpreter/Language.java
  Interpreter/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ModuleScopeExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/ClosureRootNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/EnsoRootNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/ProgramRootNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/function/CreateFunctionNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/PrintNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Module.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  Interpreter/src/main/scala/org/enso/compiler/Compiler.scala
  Interpreter/src/main/scala/org/enso/compiler/Pass.scala
  Interpreter/src/main/scala/org/enso/compiler/analyse/.gitkeep
  Interpreter/src/main/scala/org/enso/compiler/desugar/.gitkeep
  Interpreter/src/main/scala/org/enso/compiler/exception/UnhandledEntity.scala
  Interpreter/src/main/scala/org/enso/compiler/generate/AstToIr.scala
  Interpreter/src/main/scala/org/enso/compiler/generate/IrToTruffle.scala
  Interpreter/src/main/scala/org/enso/compiler/ir/IR.scala
  Interpreter/src/main/scala/org/enso/compiler/resolve/.gitkeep
  Interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  Interpreter/src/main/scala/org/enso/interpreter/analysis/Pass.scala
  Interpreter/src/main/scala/org/enso/interpreter/analysis/StaticAnalyser.scala
  Interpreter/src/main/scala/org/enso/interpreter/analysis/desugar/DataTypeDefinition.scala
  Interpreter/src/main/scala/org/enso/interpreter/analysis/desugar/DesugarPhase.scala
  Interpreter/src/main/scala/org/enso/interpreter/analysis/desugar/NestedPatternMatch.scala
  Interpreter/src/main/scala/org/enso/interpreter/analysis/desugar/UnderscoreToLambda.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/InterpreterException.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/ValueEquality.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/ConstructorsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/CurryingTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/FunctionArgumentsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/GlobalScopeTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/InteropTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/LazyArgumentsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/LexicalScopeTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/MethodsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/NamedArgumentsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/PackageTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/SimpleArithmeticTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/StateTest.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/Debug.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  Syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  Syntax/specialization/src/test/scala/org/enso/syntax/text/ParserTest.scala
  azure-pipelines.yml
  build.sbt
Labels: Category: Compiler, Category: Interpreter, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#328 Fine grained call strategy settings & functional if.
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/NamedDefaultedArgumentFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ModuleScopeExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ExecuteCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/CallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/function/CreateFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/IfZeroNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/BuiltinRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/IfZeroNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/PrintNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchErrorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchPanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/PanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/ThrowErrorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/GetStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/PutStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/RunStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedSymbol.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/function/FunctionSchema.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/scala/org/enso/interpreter/Parser.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ConstructorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/FunctionArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/GlobalScopeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/InteropTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/LazyArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/NamedArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StateTest.scala
Labels: Category: Interpreter, Category: Performance, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#327 Text AST Reimplementation.
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  common/scala/syntax/specialization/src/test/scala/org/enso/syntax/text/ParserTest.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToIr.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug, Type: Enhancement

#226 Graph API: definition discovery
  Syntax/graph/src/main/scala/org/enso/syntax/graph/AstOps.scala
  Syntax/graph/src/main/scala/org/enso/syntax/graph/DoubleRepresentation.scala
  Syntax/graph/src/main/scala/org/enso/syntax/graph/SpanTree.scala
  Syntax/graph/src/test/scala/org/enso/syntax/graph/Tests.scala
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#333 String literals, caller frame access, eval function
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/RecursionBenchmarks.java
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/Constants.java
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ModuleScopeExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ClosureRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/EnsoRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ProgramRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ApplicationNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/CaptureCallerInfoNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ExecuteCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ForceNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/ThunkExecutorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/CallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/LoopingCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/SimpleCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/function/CreateFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/ConstructorCaseNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/FallbackNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchErrorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/RunStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/EvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/literal/IntegerLiteralNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/literal/LiteralNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/literal/StringLiteralNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/CallerInfo.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedSymbol.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/function/FunctionSchema.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/control/TailCallException.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/LocalScope.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/interpreter/Parser.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterException.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/EvalTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/GlobalScopeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/NamedArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/PackageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StringTest.scala
Labels: Category: Interpreter, Category: Tooling, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#334 Generic Graph Implementation
  .gitignore
  .scalafmt.conf
  build.sbt
  common/scala/graph/src/main/scala/org/enso/graph/Graph.scala
  common/scala/graph/src/main/scala/org/enso/graph/definition/Macro.scala
  common/scala/graph/src/test/scala/org/enso/graph/ComponentMacroTest.scala
  common/scala/graph/src/test/scala/org/enso/graph/FieldMacroTest.scala
  common/scala/graph/src/test/scala/org/enso/graph/GraphTest.scala
  common/scala/graph/src/test/scala/org/enso/graph/TypeFunctionTest.scala
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/interpreter/analysis/Pass.scala
  engine/runtime/src/main/scala/org/enso/interpreter/analysis/StaticAnalyser.scala
  engine/runtime/src/main/scala/org/enso/interpreter/analysis/desugar/DataTypeDefinition.scala
  engine/runtime/src/main/scala/org/enso/interpreter/analysis/desugar/DesugarPhase.scala
  engine/runtime/src/main/scala/org/enso/interpreter/analysis/desugar/NestedPatternMatch.scala
  engine/runtime/src/main/scala/org/enso/interpreter/analysis/desugar/UnderscoreToLambda.scala
  project/plugins.sbt
Labels: Category: Compiler, Category: Libraries, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#325 Wrapping parser for Rust
  .gitignore
  Cargo.toml
  build.sbt
  common/rust/.gitkeep
  common/rust/parser/Cargo.toml
  common/rust/parser/src/api.rs
  common/rust/parser/src/jsclient.rs
  common/rust/parser/src/lib.rs
  common/rust/parser/src/main.rs
  common/rust/parser/src/wsclient.rs
  common/scala/parser-service/src/main/scala/org/enso/ParserService.scala
  common/scala/parser-service/src/main/scala/org/enso/parserservice/Protocol.scala
  common/scala/parser-service/src/main/scala/org/enso/parserservice/Server.scala
  common/scala/syntax/definition/src/main/scala/org/enso/data/Tree.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/text/Escape.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  common/scala/syntax/specialization/src/test/scala/org/enso/syntax/text/ParserTest.scala
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#335 CLI Reorganization & Jupyter Bindings
  CONTRIBUTING.md
  azure-pipelines.yml
  build.sbt
  engine/language-server/.gitkeep
  engine/language-server/jupyter-kernel/enso/kernel.json
  engine/language-server/src/main/scala/org/enso/languageserver/ContextFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/JupyterKernel.scala
  engine/language-server/src/main/scala/org/enso/languageserver/Main.scala
  engine/runtime/src/main/java/org/enso/interpreter/Main.java
Labels: Category: Compiler, Category: Tooling, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#345 Repl & Debugger
  build.sbt
  engine/language-server/src/main/scala/org/enso/languageserver/ContextFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/JupyterKernel.scala
  engine/language-server/src/main/scala/org/enso/languageserver/Main.scala
  engine/language-server/src/main/scala/org/enso/languageserver/Repl.scala
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ReplDebuggerInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/node/EnsoRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugBreakpointNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/BreakpointNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/CaptureResultScopeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/EvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/LocalScope.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
Labels: Category: Interpreter, Category: Tooling, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#342 Rust prelude library
  Cargo.toml
  common/rust/parser/Cargo.toml
  common/rust/parser/src/api.rs
  common/rust/parser/src/jsclient.rs
  common/rust/parser/src/lib.rs
  common/rust/parser/src/wsclient.rs
  common/rust/prelude/Cargo.toml
  common/rust/prelude/src/lib.rs
Labels: Category: Libraries, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#346 Translate Arithmetic Expressions
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/View.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/NamedDefaultedArgumentFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/Constants.java
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/FileDetector.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/interpreter/Parser.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ConstructorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CurryingTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/EvalTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/FunctionArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/GlobalScopeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/InteropTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/LazyArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/LexicalScopeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/MethodsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/NamedArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/SimpleArithmeticTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StateTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StringTest.scala
Labels: Category: Compiler, Category: Syntax, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#348 Initial Rust AST implementation
  Cargo.toml
  common/rust/ast/core/Cargo.toml
  common/rust/ast/core/src/lib.rs
  common/rust/ast/macros/Cargo.toml
  common/rust/ast/macros/src/lib.rs
  common/rust/macro-utils/Cargo.toml
  common/rust/macro-utils/src/lib.rs
  common/rust/shapely/core/Cargo.toml
  common/rust/shapely/core/src/lib.rs
  common/rust/shapely/core/tests/derivation.rs
  common/rust/shapely/macros/Cargo.toml
  common/rust/shapely/macros/src/lib.rs
Labels: Category: Libraries, Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#350 Graal upgrade to 19.3.0
  azure-pipelines.yml
  build.sbt
  engine/language-server/jupyter-kernel/enso/kernel.json
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/LoopingCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
Labels: Category: External, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#237 Documentation Parser: Extended HTML Files Generator
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParser.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParserStyle/style.css
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParserStyle/style.sass
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Intermediate, Priority: Medium, Type: Enhancement

#329 Enable Scalajs For Syntax
  .jvmopts
  .scalafmt.conf
  azure-pipelines.yml
  build.sbt
  common/scala/flexer/src/main/scala/org/enso/flexer/ADT.scala
  common/scala/flexer/src/main/scala/org/enso/flexer/spec/Macro.scala
  common/scala/syntax/definition/src/main/scala/org/enso/data/Pool.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builder.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/prec/Macro.scala
  common/scala/syntax/specialization/src/bench/scala/org/enso/syntax/ParserBenchmark.scala
  common/scala/syntax/specialization/src/test/scala/org/enso/syntax/text/DocParserTests.scala
  project/plugins.sbt
Labels: Category: Syntax, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#357 Documentation Parser: Fix lists parsing, changes to HTML file rendering
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParser.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParserStyle/style.sass
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  common/scala/syntax/specialization/src/test/scala/org/enso/syntax/text/DocParserTests.scala
Labels: Category: Syntax, Difficulty: Intermediate, Priority: High, Type: Enhancement

#358 New Syntax - Lambdas, Types, and Methods
  CONTRIBUTING.md
  build.sbt
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/View.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  engine/runtime/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ModuleScopeExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ProgramRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/function/BlockNode.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstView.scala
  engine/runtime/src/main/scala/org/enso/interpreter/Parser.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CurryingTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/FunctionArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/GlobalScopeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/InteropTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/LexicalScopeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/MethodsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/NamedArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/SimpleArithmeticTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StateTest.scala
Labels: Category: Compiler, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#359 Documentation Generator: Styles
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParser.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParserStyle/style.sass
Labels: Category: GUI, Category: Syntax, Change: Non-Breaking, Difficulty: Unknown, Priority: Medium, Type: Enhancement

#361 Language improvements in the design document
  doc/design/syntax/syntax.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Low, Type: Enhancement

#363 Absolute code locations
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Compiler, Category: Syntax, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#364 Add source locations info to old parser
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
  engine/runtime/src/main/scala/org/enso/interpreter/Parser.scala
Labels: Category: Compiler, Category: Interpreter, Category: Tooling, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement
