Repository luna/enso, pull requests merged in 2019-08, with the labels that each got.

#78 Temporarily disable the shaky test.
  FileManager/src/test/scala/org/enso/filemanager/WatchTests.scala
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Beginner, Priority: High

#83 Parser: comment support.
  syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/ParserDef.scala
  syntax/specialization/src/test/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#79 Parser: Support Markers.
  lib/flexer/src/main/scala/org/enso/flexer/Parser.scala
  lib/flexer/src/main/scala/org/enso/flexer/spec/Macro.scala
  syntax/definition/src/main/scala/org/enso/data/VectorMap.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/ParserDef.scala
  syntax/specialization/src/bench/scala/org/enso/syntax/Parser.scala
  syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  syntax/specialization/src/test/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#88 Efficient input preprocessing.
  build.sbt
  lib/flexer/src/main/scala/org/enso/flexer/Parser.scala
  lib/flexer/src/main/scala/org/enso/flexer/Reader.scala
  lib/flexer/src/main/scala/org/enso/flexer/ReaderUTF.scala
  lib/flexer/src/main/scala/org/enso/flexer/Spec.scala
  lib/flexer/src/main/scala/org/enso/flexer/spec/Macro.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/ast/Repr.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  syntax/specialization/src/bench/scala/org/enso/syntax/Parser.scala
  syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  syntax/specialization/src/test/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#86 Many bugfixes for parser.
  lib/flexer/src/main/scala/org/enso/flexer/Parser.scala
  lib/logger/src/main/scala/org/enso/Logger.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  syntax/specialization/src/test/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Difficulty: Hard, Priority: Highest, Type: Bug

#84 Dynamic dispatch – phase 1
  Interpreter/src/bench/java/org/enso/interpreter/benchmarks/AtomBenchmarks.java
  Interpreter/src/bench/scala/org/enso/interpreter/fixtures/AtomFixtures.scala
  Interpreter/src/main/java/org/enso/interpreter/Constants.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/GlobalScopeExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/function/CreateFunctionNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/constant/DynamicSymbolNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/scope/ReadGlobalTargetNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedSymbol.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/error/MethodDoesNotExistException.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/scope/GlobalScope.java
  Interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  Interpreter/src/test/scala/org/enso/interpreter/ConstructorsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/GlobalScopeTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/LexicalScopeTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/MethodsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/NamedArgumentsTest.scala
Labels: Category: Interpreter, Category: Semantics, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#104 Currying & constructor default arguments
  Interpreter/src/bench/java/org/enso/interpreter/BenchmarksRunner.java
  Interpreter/src/bench/java/org/enso/interpreter/ReportItem.java
  Interpreter/src/bench/java/org/enso/interpreter/benchmarks/AtomBenchmarks.java
  Interpreter/src/bench/java/org/enso/interpreter/benchmarks/NamedDefaultedArgumentBenchmarks.java
  Interpreter/src/bench/scala/org/enso/interpreter/RegressionTest.scala
  Interpreter/src/bench/scala/org/enso/interpreter/fixtures/AtomFixtures.scala
  Interpreter/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/FileDetector.java
  Interpreter/src/main/java/org/enso/interpreter/builder/GlobalScopeExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/ReadArgumentNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/UncachedArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/dispatch/CallOptimiserNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/dispatch/LoopingCallOptimiserNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/function/CreateFunctionNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/atom/InstantiateNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/scope/ReadLocalTargetNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/Callable.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/ArgumentDefinition.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgument.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/sentinel/DefaultedArgumentSentinel.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/sentinel/UnappliedArgumentSentinel.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/atom/Atom.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/ArgumentSchema.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/error/ArgumentMappingException.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/scope/GlobalScope.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/scope/LocalScope.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/type/Types.java
  Interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  Interpreter/src/test/scala/org/enso/interpreter/CurryingTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/LanguageTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/NamedArgumentsTest.scala
  build.sbt
Labels: Category: Interpreter, Category: Semantics, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#85 Documentation Parser
  build.sbt
  syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  syntax/specialization/src/bench/scala/org/enso/syntax/DocParserBench.scala
  syntax/specialization/src/main/scala/org/enso/syntax/text/DocParser.scala
  syntax/specialization/src/main/scala/org/enso/syntax/text/DocParserHTMLOut/style.css
  syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  syntax/specialization/src/test/scala/org/enso/syntax/text/DocParserTests.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#124 CLI & Debug runner
  .gitignore
  Interpreter/src/main/java/org/enso/interpreter/Main.java
  build.sbt
  project/RunDebugCommand.scala
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement
