Repository luna/enso, pull requests merged in 2019-10, with the labels that each got.

#188 Offset Implementation for Text and Block
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Hard, Priority: Highest, Type: Bug

#196 Make it possible to retrieve map of IDs from AST.
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  build.sbt
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#213 Update Style Guides Regarding Complexity
  doc/java-style-guide.md
  doc/rust-style-guide.md
  doc/scala-style-guide.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#236 Fix bug in text parsing
  Syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  Syntax/specialization/src/test/scala/org/enso/syntax/text/ParserTest.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#211 Implement IDMap with Seq.
  Syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Intermediate, Priority: Highest, Type: Enhancement

#247 Bump SBT and GraalVM Versions
  azure-pipelines.yml
  project/build.properties
Labels: Category: External, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#248 Fix incremental compile for parser test env
  build.sbt
Labels: Category: External, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#243 Fix Paren Operator Bug
  Syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  Syntax/specialization/src/test/scala/org/enso/syntax/text/ParserTest.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#251 Definition Site Argument Laziness
  Interpreter/src/main/java/org/enso/interpreter/Constants.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ArgDefinitionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/ApplicationNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/ForceNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/ThunkExecutorNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/ThunkNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/PrintNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Builtins.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/ArgumentDefinition.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgument.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/Thunk.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/type/Types.java
  Interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/LanguageTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/LazyArgumentsTest.scala
Labels: Category: Interpreter, Category: Semantics, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#238 Use Strongly-Typed Indexes / Offsets
  Syntax/definition/src/main/scala/org/enso/data/Index.scala
  Syntax/definition/src/main/scala/org/enso/data/Size.scala
  Syntax/definition/src/main/scala/org/enso/data/Span.scala
  Syntax/definition/src/main/scala/org/enso/data/VectorIntMap.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  Syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#255 Better way of registering builtin functions
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/ExpressionNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/PrintNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/scope/AssignmentNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Builtins.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Module.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/ArgumentSchema.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  Interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/LazyArgumentsTest.scala
Labels: Category: Interpreter, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#262 Include relevant resources for native-image generation
  Pkg/src/main/resources/Main.enso
  build.sbt
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#263 Error Handling
  Interpreter/README.md
  Interpreter/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/AtomBenchmarks.java
  Interpreter/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/NamedDefaultedArgumentBenchmarks.java
  Interpreter/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/RecursionBenchmarks.java
  Interpreter/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  Interpreter/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/NamedDefaultedArgumentFixtures.scala
  Interpreter/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  Interpreter/src/main/java/org/enso/interpreter/builder/ArgDefinitionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/ApplicationNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/ForceNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/ThunkExecutorNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/controlflow/MatchNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/CatchErrorNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/CatchPanicNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/PanicNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/PrintNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/ThrowErrorNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Builtins.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedSymbol.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/ArgumentDefinition.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/error/PanicException.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/error/RuntimeError.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/type/Types.java
  Interpreter/src/test/scala/org/enso/interpreter/test/InterpreterException.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/LanguageTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/ConstructorsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/CurryingTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/FunctionArgumentsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/GlobalScopeTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/InteropTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/LazyArgumentsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/LexicalScopeTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/MethodsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/NamedArgumentsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/PackageTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/SimpleArithmeticTest.scala
  build.sbt
Labels: Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#223 Restore IDs after modyfing text.
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  Syntax/graph/src/main/scala/org/enso/syntax/graph/DoubleRepresentation.scala
  Syntax/graph/src/main/scala/org/enso/syntax/graph/TextUtils.scala
  Syntax/graph/src/test/scala/org/enso/syntax/graph/TestUtils.scala
  Syntax/graph/src/test/scala/org/enso/syntax/graph/Tests.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#265 Update CONTRIBUTING.md with Build Instructions
  CONTRIBUTING.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement

#267 Remove Runtime Reflection In Parser.
  Syntax/definition/src/main/scala/org/enso/data/ADT.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/text/Escape.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/spec/DocParserDef.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  Syntax/specialization/src/main/scala/org/enso/syntax/text/DocParser.scala
  lib/flexer/src/main/scala/org/enso/flexer/ADT.scala
  lib/flexer/src/main/scala/org/enso/flexer/Spec.scala
  lib/flexer/src/main/scala/org/enso/flexer/State.scala
  lib/flexer/src/main/scala/org/enso/flexer/spec/Macro.scala
  lib/flexer/src/main/scala/org/enso/flexer/state/Rule.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Hard, Priority: Highest, Type: Enhancement
