Repository luna/enso, pull requests merged in 2019-09, with the labels that each got.

#125 Parser Text API
  lib/flexer/src/main/scala/org/enso/flexer/Parser.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/ast/Repr.scala
  syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  syntax/graph/src/main/scala/org/enso/syntax/graph/API.scala
  syntax/graph/src/main/scala/org/enso/syntax/graph/DoubleRepresentation.scala
  syntax/graph/src/main/scala/org/enso/syntax/graph/Main.scala
  syntax/graph/src/test/scala/org/enso/syntax/graph/Tests.scala
  syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  syntax/specialization/src/test/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Hard, Priority: High, Type: Enhancement

#169 Mutltifile Projects
  .gitignore
  Interpreter/src/main/java/org/enso/interpreter/Language.java
  Interpreter/src/main/java/org/enso/interpreter/Main.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ArgDefinitionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ModuleScopeExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/ExpressionNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/expression/builtin/PrintNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/scope/AssignmentNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Builtins.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/GlobalCallTarget.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Module.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/RuntimeOptions.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedSymbol.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/atom/AtomConstructor.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/error/ModuleDoesNotExistException.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/scope/GlobalScope.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  Interpreter/src/main/java/org/enso/interpreter/util/ScalaConversions.java
  Interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  Interpreter/src/test/resources/TestNonImportedOverloads/package.yaml
  Interpreter/src/test/resources/TestNonImportedOverloads/src/Main.enso
  Interpreter/src/test/resources/TestNonImportedOverloads/src/Util.enso
  Interpreter/src/test/resources/TestNonImportedOwnMethods/package.yaml
  Interpreter/src/test/resources/TestNonImportedOwnMethods/src/Main.enso
  Interpreter/src/test/resources/TestNonImportedOwnMethods/src/Util.enso
  Interpreter/src/test/resources/TestOverloadsTransitive/package.yaml
  Interpreter/src/test/resources/TestOverloadsTransitive/src/AtomDef.enso
  Interpreter/src/test/resources/TestOverloadsTransitive/src/DummyModule.enso
  Interpreter/src/test/resources/TestOverloadsTransitive/src/Main.enso
  Interpreter/src/test/resources/TestOverloadsTransitive/src/MethodDef.enso
  Interpreter/src/test/resources/TestSimpleImports/package.yaml
  Interpreter/src/test/resources/TestSimpleImports/src/Atom.enso
  Interpreter/src/test/resources/TestSimpleImports/src/Main.enso
  Interpreter/src/test/scala/org/enso/interpreter/ImportsTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/LanguageTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/PackageTest.scala
  Pkg/src/main/resources/Main.enso
  Pkg/src/main/resources/Main.luna
  Pkg/src/main/scala/org/enso/pkg/Package.scala
  azure-pipelines.yml
  build.sbt
Labels: Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#170 Implement Suspension of Default Arguments
  Interpreter/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/Context.java
  Interpreter/src/main/scala/org/enso/interpreter/Parser.scala
  Interpreter/src/test/scala/org/enso/interpreter/CurryingTest.scala
Labels: Category: Interpreter, Category: RTS, Category: Semantics, Change: Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#167 Bring back orphan blocks.
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST2.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/Repr.scala
  Syntax/specialization/src/bench/scala/org/enso/syntax/Parser.scala
  Syntax/specialization/src/test/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Intermediate, Priority: Highest, Type: Bug

#174 Interop Library Improvements
  Interpreter/src/bench/scala/org/enso/interpreter/RegressionTest.scala
  Interpreter/src/bench/scala/org/enso/interpreter/fixtures/RecursionFixtures.scala
  Interpreter/src/main/java/org/enso/interpreter/Constants.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  Interpreter/src/test/scala/org/enso/interpreter/InteropTest.scala
  Interpreter/src/test/scala/org/enso/interpreter/LanguageTest.scala
Labels: Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#175 Merge cata-parser to cata-parser-merge.
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST2.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/Repr.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/text/Escape.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  Syntax/specialization/src/bench/scala/org/enso/syntax/Parser.scala
  Syntax/specialization/src/test/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#179 Add debugging capabilities to bench only
  build.sbt
  project/BenchTasks.scala
  project/WithDebugCommand.scala
Labels: Category: External, Category: Tooling, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#178 Implement Oversaturated Calls for Curried Functions
  Interpreter/src/bench/java/org/enso/interpreter/benchmarks/RecursionBenchmarks.java
  Interpreter/src/bench/scala/org/enso/interpreter/fixtures/RecursionFixtures.scala
  Interpreter/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/ApplicationNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/ReadArgumentNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/ArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/ArgumentSchema.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  Interpreter/src/main/java/org/enso/interpreter/runtime/error/ArgumentMappingException.java
  Interpreter/src/test/scala/org/enso/interpreter/FunctionArgumentsTest.scala
Labels: Category: Interpreter, Category: Semantics, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#189 Uncomment working & passing Doc Parser Tests
  Syntax/specialization/src/test/scala/org/enso/syntax/text/DocParserTests.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Beginner, Priority: High, Type: Enhancement

#191 Notifcations for Graph and Text modifications.
  Syntax/graph/src/main/scala/org/enso/syntax/graph/API.scala
  Syntax/graph/src/main/scala/org/enso/syntax/graph/DoubleRepresentation.scala
  Syntax/graph/src/test/scala/org/enso/syntax/graph/Tests.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement

#192 Fix lexical scope resolution in recursive calls
  Interpreter/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  Interpreter/src/test/scala/org/enso/interpreter/test/semantic/FunctionArgumentsTest.scala
Labels: Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#195 Bump GraalVM API Version
  azure-pipelines.yml
  build.sbt
  doc/scala-style-guide.md
Labels: Category: RTS, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#184 AST Pool Implementation
  Syntax/definition/src/main/scala/org/enso/data/Pool.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
Labels: Category: Performance, Change: Non-Breaking, Difficulty: Intermediate, Priority: Medium, Type: Enhancement

#182 Documentation Parser Extended Integration
  Syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  Syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
  Syntax/specialization/src/main/scala/org/enso/syntax/text/DocParser.scala
  Syntax/specialization/src/main/scala/org/enso/syntax/text/DocParserStyle/style.css
  Syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Syntax, Change: Non-Breaking, Difficulty: Unknown, Priority: High, Type: Enhancement

#205 Create Comparative Benchmarks
  Interpreter/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/AtomBenchmarks.java
  Interpreter/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  doc/performance/comparative-benchmark/README.md
  doc/performance/comparative-benchmark/benchmarks/cpp/.gitignore
  doc/performance/comparative-benchmark/benchmarks/cpp/Makefile
  doc/performance/comparative-benchmark/benchmarks/cpp/src/main.cpp
  doc/performance/comparative-benchmark/benchmarks/haskell/Setup.hs
  doc/performance/comparative-benchmark/benchmarks/haskell/package.yaml
  doc/performance/comparative-benchmark/benchmarks/haskell/src/Fixtures.hs
  doc/performance/comparative-benchmark/benchmarks/haskell/stack.yaml
  doc/performance/comparative-benchmark/benchmarks/haskell/stack.yaml.lock
  doc/performance/comparative-benchmark/benchmarks/haskell/test/bench/Main.hs
  doc/performance/comparative-benchmark/benchmarks/java/pom.xml
  doc/performance/comparative-benchmark/benchmarks/java/src/main/java/org/enso/Cons.java
  doc/performance/comparative-benchmark/benchmarks/java/src/main/java/org/enso/JavaBenchmarks.java
  doc/performance/comparative-benchmark/benchmarks/python/.gitignore
  doc/performance/comparative-benchmark/benchmarks/python/benchmark.py
  doc/performance/comparative-benchmark/utilities/plot-generator/.gitignore
Labels: Category: External, Change: Non-Breaking, Difficulty: Intermediate, Priority: High, Type: Enhancement
