Repository luna/enso, pull requests merged in 2019-12, with the labels that each got.

#365 New Syntax: Support for Pattern Matching and Lazy Arguments
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/builder/ArgDefinitionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ModuleScopeExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/thunk/CreateThunkNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/thunk/ForceNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/ConstructorCaseNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/MatchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/function/ExplicitCallFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/constant/ConstructorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedSymbol.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/OldAST.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstView.scala
  engine/runtime/src/test/resources/TestNonImportedOverloads/src/Main.enso
  engine/runtime/src/test/resources/TestNonImportedOwnMethods/src/Main.enso
  engine/runtime/src/test/scala/org/enso/interpreter/test/PackageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ConstructorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CurryingTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/EvalTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/FunctionArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/GlobalScopeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ImportsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/LazyArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/MethodsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/NamedArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StateTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StringTest.scala
Labels: Category: Compiler, Category: Syntax, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#360 Scala AST refactoring
  azure-pipelines.yml
  common/scala/parser-service/src/main/scala/org/enso/ParserService.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Repr.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builder.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/prec/Macro.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  common/scala/syntax/specialization/src/bench/scala/org/enso/syntax/ParserBenchmark.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParser.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  common/scala/syntax/specialization/src/test/scala/org/enso/syntax/text/ParserTest.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/OldAST.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
Labels: Category: Core, Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#368 Source location in Truffle nodes
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ArgDefinitionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ModuleScopeExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/node/EnsoRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ExpressionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/PanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/PanicException.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/OldAST.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
  engine/runtime/src/test/java/org/enso/interpreter/test/CodeLocationsTestInstrument.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CodeLocationsTest.scala
Labels: Category: Interpreter, Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#370 Scala/Rust JSON serialization protocol unification
  common/rust/ast/core/Cargo.toml
  common/rust/ast/core/src/lib.rs
  common/rust/ast/macros/src/lib.rs
  common/rust/parser/Cargo.toml
  common/rust/parser/src/api.rs
  common/rust/parser/src/jsclient.rs
  common/rust/parser/src/lib.rs
  common/rust/parser/src/wsclient.rs
  common/rust/parser/tests/parsing.rs
  common/scala/parser-service/src/main/scala/org/enso/parserservice/Protocol.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#371 Add Suspended Blocks and Fix Thunk Performance Issues
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/RecursionBenchmarks.java
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/NamedDefaultedArgumentFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/builder/ArgDefinitionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/CallArgFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/FileDetector.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ApplicationNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/thunk/CreateThunkNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/EvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/literal/TextLiteralNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgument.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/OldAST.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstView.scala
  engine/runtime/src/test/resources/TestNonImportedOverloads/src/Main.enso
  engine/runtime/src/test/resources/TestNonImportedOverloads/src/Util.enso
  engine/runtime/src/test/resources/TestNonImportedOwnMethods/src/Main.enso
  engine/runtime/src/test/resources/TestNonImportedOwnMethods/src/Util.enso
  engine/runtime/src/test/resources/TestOverloadsTransitive/src/AtomDef.enso
  engine/runtime/src/test/resources/TestOverloadsTransitive/src/Main.enso
  engine/runtime/src/test/resources/TestOverloadsTransitive/src/MethodDef.enso
  engine/runtime/src/test/resources/TestSimpleImports/src/Atom.enso
  engine/runtime/src/test/resources/TestSimpleImports/src/Main.enso
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CodeLocationsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/EvalTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/GlobalScopeTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/NamedArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StateTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/StringTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/TextTest.scala
Labels: Category: Compiler, Category: Interpreter, Category: Semantics, Category: Syntax, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#369 Support Escapes In Raw Strings.
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/text/Escape.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  common/scala/syntax/specialization/src/test/scala/org/enso/syntax/text/ParserTest.scala
Labels: Category: Syntax, Change: Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#374 Complete the Cleanup for AST -> AstExpression Translation
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  engine/runtime/src/main/java/org/enso/interpreter/builder/ArgDefinitionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ClosureRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/EnsoRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ProgramRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ApplicationNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ExecuteCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/ReadArgumentNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/CallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/LoopingCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/SimpleCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/function/BlockNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/function/CreateFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/thunk/CreateThunkNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/thunk/ForceNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/BranchSelectedException.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/CaseNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/ConstructorCaseNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/DefaultFallbackNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/FallbackNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/atom/InstantiateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/BuiltinRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/IfZeroNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugBreakpointNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugEvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchErrorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchPanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/ThrowErrorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/function/ExplicitCallFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/GetStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/PutStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/RunStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/constant/ConstructorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/constant/DynamicSymbolNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/BreakpointNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/CaptureResultScopeNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/EvalNode.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/Core.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstView.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CodeLocationsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ErrorsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/GroupingTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/MixfixFunctionsTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/TextTest.scala
Labels: Category: Compiler, Category: Interpreter, Category: Semantics, Category: Syntax, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#378 Completing Rust AST data structures
  common/rust/ast/core/src/lib.rs
  common/rust/parser/src/wsclient.rs
  common/rust/parser/tests/parsing.rs
  common/rust/shapely/macros/src/lib.rs
  common/scala/syntax/definition/src/main/scala/org/enso/data/Shifted.scala
  common/scala/syntax/definition/src/main/scala/org/enso/data/Size.scala
  common/scala/syntax/definition/src/main/scala/org/enso/data/Tree.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Repr.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Repr2.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Repr3.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builder.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Pattern.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/text/Escape.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/prec/Distance.scala
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/prec/Operator.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/DocParser.scala
  common/scala/syntax/specialization/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#362 Integrating Scala Parser Into Rust.
  azure-pipelines.yml
  build.sbt
  common/rust/parser/Cargo.toml
  common/rust/parser/README.md
  common/rust/parser/build.rs
  common/rust/parser/src/jsclient.rs
  common/rust/parser/src/lib.rs
  common/rust/parser/tests/web.rs
  common/scala/syntax/specialization/js/src/main/scala/org/enso/syntax/text/Main.scala
  common/scala/syntax/specialization/shared/src/bench/scala/org/enso/syntax/DocParserBench.scala
  common/scala/syntax/specialization/shared/src/bench/scala/org/enso/syntax/ParserBenchmark.scala
  common/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParser.scala
  common/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParserStyle/style.sass
  common/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
  common/scala/syntax/specialization/shared/src/test/scala/org/enso/syntax/text/DocParserTests.scala
  common/scala/syntax/specialization/shared/src/test/scala/org/enso/syntax/text/ParserTest.scala
Labels: Category: GUI, Category: Syntax, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#387 derive(Iterator) support for enum types
  common/rust/ast/core/src/internal.rs
  common/rust/ast/core/src/lib.rs
  common/rust/ast/macros/src/lib.rs
  common/rust/macro-utils/Cargo.toml
  common/rust/macro-utils/src/lib.rs
  common/rust/shapely/core/tests/derivation.rs
  common/rust/shapely/macros/src/derive_iterator.rs
  common/rust/shapely/macros/src/lib.rs
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#391 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Low, Type: Enhancement

#412 derive(Iterator) support for structs with fields of dependent types
  common/rust/ast/core/src/lib.rs
  common/rust/macro-utils/src/lib.rs
  common/rust/parser/src/lib.rs
  common/rust/shapely/core/tests/derivation.rs
  common/rust/shapely/macros/src/derive_iterator.rs
  common/rust/shapely/macros/src/lib.rs
Labels: Category: Libraries, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement
