Repository luna/enso, pull requests merged in 2020-06, with the labels that each got.

#795 Bump sbt version to 1.3.12
  .github/workflows/scala.yml
  docs/CONTRIBUTING.md
  engine/language-server/src/test/scala/org/enso/languageserver/filemanager/WatcherAdapterSpec.scala
  project/build.properties
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#805 Add safepoint manager for tracking thread interrupts
  engine/polyglot-api/src/main/java/org/enso/polyglot/MethodNames.java
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ClosureRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/ArgumentSorterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/CurryNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/SimpleCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchPanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/thread/WithInterruptHandlerNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/ThreadManager.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/control/ThreadInterruptedException.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ThreadInterruptionTest.scala
Labels: Category: Interpreter, Category: RTS, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#806 Fixing Windows CI
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/ThreadInterruptionTest.scala
Labels: Category: Build, Change: Non-Breaking, Difficulty: Beginner, Priority: Lowest, Type: Enhancement

#808 Fix AST.Block inconsistency between `reprBlock` and `ozipBlock`.
  lib/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
Labels: Category: Syntax, Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#788 Runtime Cache Integration
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/RuntimeCacheBenchmarks.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/IdExecutionInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/RuntimeCache.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/compiler/Passes.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/context/Changeset.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/CachePreferenceAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/CacheInvalidation.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/BaseVisualisationCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/ProgramExecutionSupport.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/PushContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/RecomputeContextCmd.scala
  engine/runtime/src/main/scala/org/enso/interpreter/runtime/scope/LocalScope.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeCacheTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
Labels: Category: Backend, Category: RTS, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#800 Runtime Cache Integration Part 2
  engine/runtime/src/main/java/org/enso/interpreter/service/ExecutionService.java
  engine/runtime/src/main/scala/org/enso/compiler/context/Changeset.scala
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/command/EditFileCmd.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/ChangesetTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/text-buffer/src/main/scala/org/enso/text/editing/IndexedSource.scala
Labels: Category: Backend, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#796 Binary Protocol for the Debugger
  build.sbt
  docs/README.md
  docs/debugger/README.md
  docs/debugger/protocol.md
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/Debugger.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/Request.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/Response.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/protocol/factory/ExceptionRepresentationFactory.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/protocol/factory/ObjectRepresentationFactory.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/protocol/factory/RequestFactory.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/protocol/factory/ResponseFactory.scala
  engine/polyglot-api/src/main/schema/debugger/common.fbs
  engine/polyglot-api/src/main/schema/debugger/evaluation.fbs
  engine/polyglot-api/src/main/schema/debugger/exception.fbs
  engine/polyglot-api/src/main/schema/debugger/listbindings.fbs
  engine/polyglot-api/src/main/schema/debugger/message.fbs
  engine/polyglot-api/src/main/schema/debugger/session.fbs
  engine/polyglot-api/src/test/scala/org/enso/polyglot/debugger/SerializationTest.scala
  project/GenerateFlatbuffers.scala
Labels: Category: Backend, Category: RTS, Category: Tooling, Change: Non-Breaking, Difficulty: Hard, Priority: Medium, Type: Enhancement

#813 Set up LFS in this Repo
  .gitattributes
  docs/CONTRIBUTING.md
  docs/runtime/resources/function-call-diagram.png
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#812 Document Running the Distribution
  .github/workflows/scala.yml
  README.md
  distribution/bin/enso
  distribution/bin/enso.bat
  distribution/bin/project-manager
  distribution/bin/project-manager.bat
  docs/README.md
  docs/getting-enso.md
Labels: Category: Distribution, Category: Documentation, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#816 Remove LFS
  .gitattributes
  docs/CONTRIBUTING.md
  docs/runtime/function-call-flow.md
  docs/runtime/resources/function-call-diagram.png
  docs/syntax/types.md
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#817 Fix Launcher Scripts on Windows
  distribution/bin/enso.bat
  distribution/bin/project-manager.bat
Labels: Category: Distribution, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#822 Implement debbuger server in the instrument
  docs/debugger/protocol.md
  engine/polyglot-api/src/main/java/org/enso/polyglot/debugger/DebugServerInfo.java
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/Debugger.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/DebuggerSessionManagerEndpoint.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/DeserializationFailedException.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/Response.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/SessionManager.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/protocol/factory/ResponseFactory.scala
  engine/polyglot-api/src/main/schema/debugger/message.fbs
  engine/polyglot-api/src/main/schema/debugger/session.fbs
  engine/polyglot-api/src/test/scala/org/enso/polyglot/debugger/EitherValue.scala
  engine/polyglot-api/src/test/scala/org/enso/polyglot/debugger/SerializationTest.scala
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runner/src/main/scala/org/enso/runner/Repl.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ReplDebuggerInstrument.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/DebuggerMessageHandler.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/OldReplTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
Labels: Category: RTS, Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#836 Updates the CI Configuration to run for PRs into all Branches
  .github/workflows/scala.yml
Labels: Category: Build, Change: Non-Breaking, Difficulty: Beginner, Priority: Highest, Type: Enhancement

#827 Migrate the REPL to the New Server (#791)
  .github/workflows/scala.yml
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/Debugger.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/DebuggerSessionManagerEndpoint.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/ObjectRepresentation.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/SessionManager.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/debugger/protocol/factory/ExceptionRepresentationFactory.scala
  engine/polyglot-api/src/test/scala/org/enso/polyglot/debugger/SerializationTest.scala
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runner/src/main/scala/org/enso/runner/Repl.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ReplDebuggerInstrument.java
  engine/runtime/src/main/scala/org/enso/interpreter/instrument/DebuggerMessageHandler.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/OldReplTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ReplTest.scala
  tools/ci/artifact-test/repl/ReplTest.in
  tools/ci/artifact-test/repl/ReplTest.out
Labels: Category: Tooling, Change: Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#833 Add Support for Writing Type Signatures
  docs/syntax/functions.md
  docs/syntax/naming.md
  docs/syntax/types.md
  docs/types/hierarchy.md
  engine/runtime/src/main/scala/org/enso/compiler/Passes.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstView.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/CachePreferenceAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DemandAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/TailCall.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/ComplexType.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/FunctionBinding.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/LambdaShorthandToLambda.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/NestedPatternMatch.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/SectionsToBinOp.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/optimise/LambdaConsolidate.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/DocumentationComments.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/SuspendedArguments.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeFunctions.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeSignatures.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/PassesTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/codegen/AstToIrTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/AliasAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/DataflowAnalysisTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/analyse/GatherDiagnosticsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/ComplexTypeTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/LambdaShorthandToLambdaTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/desugar/SectionsToBinOpTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/IgnoredBindingsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/SuspendedArgumentsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/TypeFunctionsTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/pass/resolve/TypeSignaturesTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/SuspendedArgumentsTest.scala
  lib/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  lib/syntax/definition/src/main/scala/org/enso/syntax/text/ast/opr/Assoc.scala
  lib/syntax/definition/src/main/scala/org/enso/syntax/text/ast/opr/Prec.scala
  lib/syntax/definition/src/main/scala/org/enso/syntax/text/spec/ParserDef.scala
  lib/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/InHoisting.scala
  lib/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: Compiler, Category: Syntax, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#835 Build independent distributions on the CI
  .github/workflows/scala.yml
  .gitignore
  build.sbt
  distribution/bin/enso
  distribution/bin/enso.bat
Labels: Category: Distribution, Change: Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#828 Add RetrySpec
  engine/language-server/src/test/scala/org/enso/languageserver/filemanager/WatcherAdapterSpec.scala
  lib/json-rpc-server-test/src/main/scala/org/enso/jsonrpc/test/FlakySpec.scala
  lib/json-rpc-server-test/src/main/scala/org/enso/jsonrpc/test/RetrySpec.scala
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Lowest, Type: Enhancement

#838 Fix a Compiler Bug
  docs/syntax/README.md
  docs/syntax/assignment.md
  docs/syntax/comments.md
  docs/syntax/function-arguments.md
  docs/syntax/functions.md
  docs/syntax/imports.md
  docs/syntax/literals.md
  docs/syntax/macros.md
  docs/syntax/projections.md
  docs/syntax/top-level.md
  docs/syntax/types.md
  docs/types/access-modifiers.md
  docs/types/modules.md
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstToIr.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/AstView.scala
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/ir/DiagnosticStorage.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/ir/MetadataStorage.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/IRPass.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/AliasAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/CachePreferenceAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/DataflowAnalysis.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/GatherDiagnostics.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/analyse/TailCall.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/ComplexType.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/NestedPatternMatch.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/desugar/SectionsToBinOp.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/optimise/ApplicationSaturation.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/DocumentationComments.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/IgnoredBindings.scala
  engine/runtime/src/main/scala/org/enso/compiler/pass/resolve/TypeSignatures.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/core/ir/DiagnosticStorageTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/core/ir/MetadataStorageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/RuntimeServerTest.scala
  lib/syntax/definition/src/main/scala/org/enso/syntax/text/AST.scala
  lib/syntax/definition/src/main/scala/org/enso/syntax/text/ast/meta/Builtin.scala
  lib/syntax/specialization/shared/src/test/scala/org/enso/syntax/text/ParserTest.scala
Labels: Category: Compiler, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug

#841 Prepare the Enso Repo for New Parser Development
  .cargo/config
  .github/PULL_REQUEST_TEMPLATE.md
  .github/settings.yml
  .github/workflows/rust.yml
  .github/workflows/scala.yml
  .gitignore
  .rustfmt.toml
  Cargo.toml
  docs/README.md
  docs/parser/README.md
  docs/parser/tech-analysis.md
  parser/flexer/Cargo.toml
  parser/flexer/README.md
  parser/flexer/build.rs
  parser/flexer/src/automata.rs
  parser/flexer/src/automata/alphabet.rs
  parser/flexer/src/automata/dfa.rs
  parser/flexer/src/automata/nfa.rs
  parser/flexer/src/automata/pattern.rs
  parser/flexer/src/automata/state.rs
  parser/flexer/src/data.rs
  parser/flexer/src/data/matrix.rs
  parser/flexer/src/group.rs
  parser/flexer/src/group/rule.rs
  parser/flexer/src/lib.rs
  parser/flexer/src/parser.rs
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#854 Update the Scalafmt Version
  .scalafmt.conf
  engine/runtime/src/main/scala/org/enso/compiler/core/IR.scala
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#856 Booleans support
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/NamedDefaultedArgumentFixtures.scala
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/RecursionFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ReplDebuggerInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ExpressionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/controlflow/BooleanBranchNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/AndNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/IfThenElseNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/NotNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/OrNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/bool/ToTextNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/io/PrintlnNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/number/EqualsNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/constant/ConstructorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/BreakpointNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Bool.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/builtin/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/scala/org/enso/compiler/codegen/IrToTruffle.scala
  engine/runtime/src/test/scala/org/enso/std/test/BooleanTest.scala
  engine/runtime/src/test/scala/org/enso/std/test/NumberTest.scala
Labels: Category: Libraries, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#855 Describe infrastructure and Java 11 obstacles
  docs/README.md
  docs/infrastructure/README.md
  docs/infrastructure/java-11.md
  docs/infrastructure/sbt.md
Labels: Category: Build, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement

#846 Implement the Suggestions Database
  build.sbt
  engine/runtime/src/main/scala/org/enso/compiler/context/SuggestionBuilder.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/context/SuggestionBuilderTest.scala
  lib/searcher/src/main/resources/application.conf
  lib/searcher/src/main/scala/org/enso/searcher/Suggestion.scala
  lib/searcher/src/main/scala/org/enso/searcher/SuggestionsRepo.scala
  lib/searcher/src/main/scala/org/enso/searcher/sql/SqlSuggestionsRepo.scala
  lib/searcher/src/main/scala/org/enso/searcher/sql/Tables.scala
  lib/searcher/src/test/resources/application.conf
  lib/searcher/src/test/scala/org/enso/searcher/sql/SuggestionsRepoTest.scala
Labels: Category: Backend, Change: Non-Breaking, Difficulty: Core Contributor, Priority: High, Type: Enhancement
