Repository luna/enso, pull requests merged in 2020-01, with the labels that each got.

#417 Fix uncached flows, refactor and document the function call flow
  .gitignore
  doc/design/engine/function-call-diagram.png
  doc/design/engine/function-call-flow.md
  engine/runtime/src/main/java/org/enso/interpreter/Constants.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/ModuleScopeExpressionFactory.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/ExecuteCallNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/InvokeCallableNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/MethodResolverNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/ArgumentSorterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/argument/sorter/CachedArgumentSorterNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/CurryNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/InvokeFunctionNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/LoopingCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/dispatch/SimpleCallOptimiserNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/thunk/ForceNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/callable/thunk/ThunkExecutorNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/IfZeroNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/debug/DebugBreakpointNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/error/CatchPanicNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/builtin/state/RunStateNode.java
  engine/runtime/src/main/java/org/enso/interpreter/node/expression/debug/EvalNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/UnresolvedSymbol.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/argument/CallArgumentInfo.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/scala/org/enso/compiler/generate/AstToAstExpression.scala
Labels: Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Bug, Type: Enhancement

#416 HasSpan and HasRepr implementation for AST
  common/rust/ast/core/src/lib.rs
  common/rust/ast/core/src/repr.rs
  common/rust/ast/macros/src/lib.rs
  common/rust/ast/macros/src/repr.rs
  common/rust/macro-utils/src/lib.rs
  common/rust/parser/tests/parsing.rs
  common/rust/shapely/core/src/lib.rs
  common/rust/shapely/core/tests/derivation.rs
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#420 ide/README: fix paths in markdown
  ide/README.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Beginner, Priority: Medium, Type: Bug

#422 Design Document for Caching and Re-Evaluation
  doc/design/engine/caching-and-evaluation.md
  doc/design/engine/function-call-flow.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#424 Polyglot API & module-level expr eval
  build.sbt
  engine/language-server/src/main/scala/org/enso/languageserver/ContextFactory.scala
  engine/language-server/src/main/scala/org/enso/languageserver/JupyterKernel.scala
  engine/language-server/src/main/scala/org/enso/languageserver/Main.scala
  engine/language-server/src/main/scala/org/enso/languageserver/PolyglotHelpers.scala
  engine/polyglot-api/src/main/java/org/enso/polyglot/LanguageInfo.java
  engine/polyglot-api/src/main/java/org/enso/polyglot/MethodNames.java
  engine/polyglot-api/src/main/scala/org/enso/polyglot/ExecutionContext.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Function.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Module.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/TopScope.scala
  engine/polyglot-api/src/test/scala/org/enso/polyglot/ApiTest.scala
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/AtomBenchmarks.java
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/NamedDefaultedArgumentBenchmarks.java
  engine/runtime/src/bench/java/org/enso/interpreter/bench/benchmarks/semantic/RecursionBenchmarks.java
  engine/runtime/src/bench/scala/org/enso/interpreter/bench/fixtures/semantic/AtomFixtures.scala
  engine/runtime/src/main/java/org/enso/interpreter/Constants.java
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/builder/FileDetector.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/RuntimeOptions.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/callable/function/Function.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/type/Types.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/PackageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ValueExtractorTest.scala
Labels: Category: Interpreter, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#427 Record Decisions About the Return Value of `=`
  doc/design/semantics/semantics.md
Labels: Category: Documentation, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#410 Add CI For Rust.
  azure-pipelines.yml
  common/rust/parser/src/jsclient.rs
Labels: Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#429 JSON-RPC Client Support Library for Rust
  .gitignore
  Cargo.toml
  common/rust/json-rpc/Cargo.toml
  common/rust/json-rpc/src/api.rs
  common/rust/json-rpc/src/error.rs
  common/rust/json-rpc/src/handler.rs
  common/rust/json-rpc/src/lib.rs
  common/rust/json-rpc/src/messages.rs
  common/rust/json-rpc/src/transport.rs
  common/rust/json-rpc/tests/test.rs
Labels: Category: Libraries, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#438 Node value caching
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ExactPositionListener.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/FunctionCallExtractorInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ValueExtractorInstrument.java
  engine/runtime/src/main/java/org/enso/interpreter/instrument/ValueOverrideInstrument.java
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/IdeWorkflowTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ValueOverrideTest.scala
Labels: Category: Interpreter, Category: RTS, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#428 Enso-Doc: Changes to style & HTML generator
  common/scala/syntax/definition/src/main/scala/org/enso/syntax/text/ast/Doc.scala
  common/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParser.scala
  common/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/DocParserStyle/style.sass
  common/scala/syntax/specialization/shared/src/main/scala/org/enso/syntax/text/Parser.scala
Labels: Category: GUI, Category: Syntax, Change: Non-Breaking, Difficulty: Intermediate, Priority: Medium

#456 Upgrade the Graph Macros
  build.sbt
  common/scala/graph/src/main/scala/org/enso/graph/Graph.scala
  common/scala/graph/src/main/scala/org/enso/graph/definition/Macro.scala
  common/scala/graph/src/test/scala/org/enso/graph/ComponentMacroTest.scala
  common/scala/graph/src/test/scala/org/enso/graph/FieldMacroTest.scala
  common/scala/graph/src/test/scala/org/enso/graph/GraphTest.scala
  common/scala/graph/src/test/scala/org/enso/graph/GraphTestDefinition.scala
  common/scala/graph/src/test/scala/org/enso/graph/OpaqueMacroTest.scala
  common/scala/graph/src/test/scala/org/enso/graph/TypeFunctionTest.scala
  engine/runtime/src/main/java/org/enso/interpreter/runtime/data/Vector.java
  engine/runtime/src/main/scala/org/enso/compiler/core/Core.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/CompilerTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/core/GraphTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/semantic/CodeLocationsTest.scala
Labels: Category: Compiler, Category: Libraries, Change: Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#454 File Manager Client Libary for Rust
  Cargo.toml
  common/rust/file-manager/Cargo.toml
  common/rust/file-manager/README.md
  common/rust/file-manager/src/lib.rs
  common/rust/json-rpc/Cargo.toml
  common/rust/json-rpc/src/handler.rs
  common/rust/json-rpc/src/lib.rs
  common/rust/json-rpc/src/messages.rs
  common/rust/json-rpc/src/test_util/mod.rs
  common/rust/json-rpc/src/test_util/transport/mock.rs
  common/rust/json-rpc/src/test_util/transport/mod.rs
  common/rust/json-rpc/src/transport.rs
  common/rust/json-rpc/tests/test.rs
  common/rust/shapely/core/src/lib.rs
  common/rust/shapely/macros/src/lib.rs
  common/rust/utils/Cargo.toml
  common/rust/utils/src/lib.rs
Labels: Category: Libraries, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Medium, Type: Enhancement

#457 Publish scala-parser.js as a build artifact
  azure-pipelines.yml
Labels: Category: External, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#462 Language Server files interface
  build.sbt
  common/scala/pkg/src/main/scala/org/enso/pkg/Package.scala
  engine/polyglot-api/src/main/java/org/enso/polyglot/MethodNames.java
  engine/polyglot-api/src/main/java/org/enso/polyglot/RuntimeOptions.java
  engine/polyglot-api/src/main/scala/org/enso/polyglot/Module.scala
  engine/polyglot-api/src/main/scala/org/enso/polyglot/TopScope.scala
  engine/polyglot-api/src/test/scala/org/enso/polyglot/ModuleManagementTest.scala
  engine/runner/src/main/scala/org/enso/runner/ContextFactory.scala
  engine/runner/src/main/scala/org/enso/runner/PolyglotHelpers.scala
  engine/runtime/src/main/java/org/enso/interpreter/Language.java
  engine/runtime/src/main/java/org/enso/interpreter/OptionsHelper.java
  engine/runtime/src/main/java/org/enso/interpreter/node/ProgramRootNode.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Builtins.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Context.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/Module.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/error/ModuleDoesNotExistException.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/ModuleScope.java
  engine/runtime/src/main/java/org/enso/interpreter/runtime/scope/TopLevelScope.java
  engine/runtime/src/main/scala/org/enso/compiler/Compiler.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/PackageTest.scala
Labels: Category: Interpreter, Category: Tooling, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement

#463 Implement the Core Entities
  build.sbt
  common/graph/src/main/scala/org/enso/graph/Graph.scala
  common/graph/src/main/scala/org/enso/graph/definition/Macro.scala
  common/graph/src/test/scala/org/enso/graph/FieldMacroTest.scala
  common/graph/src/test/scala/org/enso/graph/GraphTest.scala
  common/graph/src/test/scala/org/enso/graph/GraphTestDefinition.scala
  engine/core-definition/src/main/scala/org/enso/core/CoreGraph.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/Core.scala
  engine/runtime/src/main/scala/org/enso/compiler/core/OldAST.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/core/CorePrimTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/core/CoreTest.scala
  engine/runtime/src/test/scala/org/enso/compiler/test/core/GraphTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/InterpreterTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/PackageTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/FunctionCallExtractorTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/IdeWorkflowTest.scala
  engine/runtime/src/test/scala/org/enso/interpreter/test/instrument/ValueExtractorTest.scala
Labels: Category: Compiler, Category: Core, Change: Non-Breaking, Difficulty: Core Contributor, Priority: Highest, Type: Enhancement
